html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
}

a{
  text-decoration: none;
  color: inherit;
}

.yellow{
  color: $yellow;
}

.wrapper{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
